.category-page {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  margin-bottom: 2.5%;

  @media screen and(max-width: 800px) {
    align-items: center;
  }

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2.5%;

    @media screen and(max-width: 800px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}