$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}
.chatApp {
    color: #212121;
    font-family: "Open Sans", sans-serif;
    display: grid;
    place-items: center;
  }
  
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
  
  .joinChatContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    backdrop-filter: blur(4px) saturate(89%);
	-webkit-backdrop-filter: blur(4px) saturate(89%);
	background-color: rgba(49, 73, 73, 0);
	border-radius: 12px;
	border: 1px solid rgba(209, 213, 219, 0.3);
	-webkit-box-shadow: 0px 4px 123px -40px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 4px 123px -40px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 4px 123px -40px rgba(0, 0, 0, 0.75);
    padding: 20px;
  }
  
  .joinChatContainer h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .joinChatContainer input {
    background: none;
    background-color: transparent;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 25px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  
.joinChatContainer button {
  min-width: 165px;
	width: auto;
	height: 50px;
	letter-spacing: 0px;
	line-height: 50px;

	font-size: 15px;
	background-color: black;
	color: white;
	text-transform: uppercase;
	font-family: 'Poppins';
	font-weight: bolder;
	border: none;
	cursor: pointer;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.google-button {
    background-color: #000000;

    &:hover {
      background-color: rgb(63, 168, 230);
      border: none;
    }
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}
 
  
  .chat-window {
    width: 300px;
    height: 420px;
  }
  
  .chat-window p {
    margin: 0;
  }
  .chat-window .chat-header {
    height: 45px;
    border-radius: 6px;
    background: #263238;
    position: relative;
    cursor: pointer;
  }
  .chat-window .chat-header p {
    display: block;
    padding: 0 1em 0 2em;
    color: #fff;
    font-weight: 700;
    line-height: 45px;
  }
  
  .chat-window .chat-body {
    height: calc(450px - (45px + 70px));
    border: 1px solid #263238;
    background: rgba(255, 255, 255, 0);
  
    position: relative;
  }
  .chat-window .chat-body .message-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .chat-window .chat-body .message-container::-webkit-scrollbar {
    display: none;
  }
  .chat-window .chat-body .message {
    height: auto;
    padding: 10px;
    display: flex;
  }
  
  .chat-window .chat-body .message .message-content {
    width: auto;
    height: auto;
    min-height: 40px;
    max-width: 120px;
    background-color: #000000;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
  }
  
  #you {
    justify-content: flex-start;
  }
  
  #you .message-content {
    justify-content: flex-start;
  }
  
  #you .message-meta {
    justify-content: flex-start;
    margin-left: 5px;
  }
  
  #other {
    justify-content: flex-end;
  }
  
  #other .message-content {
    justify-content: flex-end;
    background-color: cornflowerblue;
  }
  
  #other .message-meta {
    justify-content: flex-end;
    margin-right: 5px;
  }
  
  .message-meta #author {
    margin-left: 10px;
    font-weight: bold;
  }
  
  .chat-window .chat-body .message .message-meta {
    display: flex;
    font-size: 12px;
  }
  
  .chat-window .chat-footer {
    height: 40px;
    border: 1px solid #263238;
    border-top: none;
    display: flex;
  }
  
  .chat-window .chat-footer input {
    height: 100%;
    flex: 85%;
    border: 0;
    padding: 0 0.7em;
    font-size: 1em;
    border-right: 1px dotted #607d8b;
  
    outline: none;
    font-family: "Open Sans", sans-serif;
  }
  
  .chat-window .chat-footer button {
    border: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    flex: 15%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 25px;
    color: lightgray;
  }
  
  .chat-window .chat-footer button:hover {
    color: #000000;
  }
  .hide {
    opacity: 0 !important;
  }
  
  
  ul {
    list-style: none;
    background: #fff;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
   
    font-size: 20px;
  }
  
  ul li {
    float: left;
    margin: 10px;
  }

  li{
    border: 1px solid black;
    padding:5px;
    border-radius: 12px;
  }

  .Suggestion{
    margin: 20px 0;
    letter-spacing: 0px;
	line-height: 50px;

	font-size: 15px;
	background-color: black;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	font-family: 'Poppins';
	font-weight: bolder;
	backdrop-filter: blur(4px) saturate(89%);
	-webkit-backdrop-filter: blur(4px) saturate(89%);
	background-color: rgba(49, 73, 73, 0);
	border-radius: 12px;
	border: 1px solid rgba(209, 213, 219, 0.3);
	-webkit-box-shadow: 0px 4px 123px -40px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 4px 123px -40px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 4px 123px -40px rgba(0, 0, 0, 0.75);
    padding: 20px;
  }